.card{
    width: 20pc;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: linear-gradient(rgb(253, 253, 253,0.75),rgba(255, 255, 255, 0.4));
   margin-left: 5rem;
}
.btn-success{
    margin-left: 14rem;
}
.btn-danger{
    margin-left: 12rem;
}

