*{
    background-image:url(assets/breaking.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: none;
    
}